

<h1 class="title">İlan Oluştur</h1>



  <mat-form-field class="jobPosts-create">
    <mat-label>UserId</mat-label>
    <input matInput type="number" value="0" #txtUserId>
  </mat-form-field>
  <mat-form-field class="jobPosts-create">
    <mat-label>JobTypeId</mat-label>
    <input matInput type="number" value="0" #txtJobTypeId>
  </mat-form-field>
  <mat-form-field class="jobPosts-create">
    <mat-label>Title</mat-label>
    <input matInput #txtTitle>
  </mat-form-field>
  <mat-form-field class="jobPosts-create">
    <mat-label>CompanyName</mat-label>
    <input matInput #txtCompanyName>
  </mat-form-field>
  <mat-form-field class="jobPosts-create">
    <mat-label>Description</mat-label>
    <input matInput #txtDescription>
  </mat-form-field>
 
  <mat-form-field class="jobPosts-create">
    <mat-label>StartDate</mat-label>
    <input matInput  #txtStartDate>
  </mat-form-field>
  <mat-form-field class="jobPosts-create">
    <mat-label>EndDate</mat-label>
    <input matInput  #txtEndDate>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="create(txtUserId,txtJobTypeId,txtTitle,txtCompanyName,txtDescription,txtStartDate,txtEndDate)" class="btn">İlan oluşturuldu</button>



