/* Ana formunun tasarımı */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form-wrapper {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
  }
  
  /* Input alanlarının tasarımı */
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Hata mesajlarının tasarımı */
  .invalid-feedback {
    color: red;
    font-size: 14px;
  }
  
  /* Kayıt Ol düğmesinin tasarımı */
  .btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  /* Sayfa arka plan rengi */
  body {
    background-color: #f4f4f4;
  }
  
  /* Sayfa ortalaması */
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  label {
    font-weight: bold;
  }