<div class="container text-center">
  <div class="row">
    <div class="col-8">
      
        <img src="https://coderspace-storage-prod.s3.eu-central-1.amazonaws.com/media/cache/92/a8/92a8d3068b5b79eef2f63743238c533a.webp" alt="">
    </div>
    <div class="col-4" style="background-color: whitesmoke;border-radius: 10px;">
     <h1 style="text-align: left;">Katilim Detaylari</h1>
     <hr>
     <h2>Başvuru Tarihleri</h2>
     <span>{{ formatDate(jobPost.startDate) }} - {{ formatDate(jobPost.endDate) }}</span>
     <hr>
     <h2>Şirket Adi</h2>
     <span>{{ jobPost.companyName }}</span>
     <hr>
     <button class="btn btn-success" (click)="applyForJob()">Başvuru Yap</button>
    </div>
  </div>
 
  <div class="row">
    <div class="col-8">
      <div class="jobtitle">
        <h1>{{ jobPost.title }}</h1>
      </div>
      <p>{{ jobPost.description }}</p>
    </div>
  </div>
  
</div>















<!-- <img *ngIf="jobPost && jobPost.jobPostImageFiles && jobPost.jobPostImageFiles.length > 0" [src]="baseUrl.url + '/' + jobPost.jobPostImageFiles[0].path" class="card-img-top" alt="..."> -->

<!-- <div class="container">

  <h1>{{ jobPost.title }}</h1>
  <p>{{ jobPost.companyName }}</p>
  <p>{{ jobPost.description }}</p>
  <button class="btn btn-success" (click)="applyForJob()">Başvuru Yap</button>
</div> -->
